


html { 
	background: url(dark_embroidery.png);
		background-repeat: repeat; 
		top; 
}

body {
	font-family: sans-serif;

}

strong {
	display: inline;
	text-align: left;
}

em {
	text-align: right;
	display: inline;
}

h2 {
	 text-decoration:underline; 
}

a {
		background: url(concrete_seamless.png);
		background-repeat: repeat; 
		top; 
}

#main_row {
/*	border-top:solid black 2px;
	border-bottom: solid black 2px;
*/	margin-bottom: 10px;
}

#leftColumn {
	border-right: solid black 2px;
}

#number {
	display: inline-block;
	width: 200px;
	height: 25px;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;

}

#name {
	display: inline-block;
	width: 200px;
	height: 25px;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
	font-family: "Ubuntu";
}

#email {
	display: inline-block;
	width: 200px;
	height: 25px;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;

}


#header {
	display : inline;
	margin-bottom: 35px;
	/*background-color: #ffffff;
	background-position: auto;*/
		background: url(concrete_seamless.png);
		background-repeat: repeat; 
		top; 
	text-align: center;
}


.container-fluid {
		background: url(https://github.com/pgwest/Resume/blob/master/dark_embroidery.png?raw=true);
		background-repeat: repeat; 
		top; 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	z-index: 1;
}

.col-md-12 {
	background-color: #fff; 
	margin-bottom: 10px;
	z-index: 2;
	background: url(concrete_seamless.png);
	background-repeat: repeat; 
	top; 
}

.col-md-10 {
	margin-top: 10px;
	z-index: 3;	
/*	background-color: #ffffff;
	opacity: 1; 
	
	color:black;*/
	background: url(concrete_seamless.png);
		background-repeat: repeat; 
		top; 
	font-size: 23px;
}


.col-md-2 {
	margin-top: 10px;
	z-index: 4;
	background: url(concrete_seamless.png);
		background-repeat: repeat; 
		top; 
		font-size: 22px;
}


.workExperience {
	display: inline;
	border-bottom: solid black 2px;
}

.thumbnail {
	border: 1px solid black;
	margin-top: 10px;
}

.headshot {
	position: absolute;
	right: 10%;
	top: 5%;
	width: 30%;
	z-index: 7;
	border-radius: 40%;
}




/*.col-md-3 {
	background: url(concrete_seamless.png);
		background-repeat: repeat; 
		top; 
}*/

/*.col-md-offset-5 {
		background: url(concrete_seamless.png);
		background-repeat: repeat; 
		top; 
}

.col-md-9 {
		background: url(concrete_seamless.png);
		background-repeat: repeat; 
		top; 
}*/


